{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
{% include 'visualizations/navbar.html' %}

<!-- details card section starts from here -->
  <section id="about">
      <div class="container">
        <div class="row about-container">
           {% for about in about %}

          <div class="col-lg-6 content order-lg-1 order-2">
                {{ about.content|safe }}


          </div>
        {% if about.image %}
            <div style="background: url({{ about.image.url }});     min-height: 300px;
" class="col-lg-6 order-lg-2 order-1 wow fadeInRight"></div>
               {% else %}
                      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>

               {% endif %}
                       {% endfor %}

        </div>

      </div>
    </section><!-- #about -->

<!-- details card section starts from here -->
</body>
</html>



