{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<!-- details card section starts from here -->
<section class="details-card">
    <h2 class="title text-center">Contacts</h2>
    <br/>
    <div class="container">
        <div class="row">
            {% for contact in contacts %}

                <div class="col-md-6">
                    <div class="card-content eve text-center">
                        {% if contact.logo %}

                            <img src="{{ contact.logo.url }}" class="contact_img">
                        {% else %}

                            <img src="{% static 'assets/img/undp.png' %}" class="contact_img">

                        {% endif %}
                        {% if contact.partner_name %}
                            <h3>{{ contact.partner_name }}</h3>

                        {% endif %}
                        {% if contact.address %}
                            <p class="text-center w-75 m-auto">{{ contact.address }}</p>

                        {% endif %}
                        {% if contact.email %}
                            <p class="text-center w-75 m-auto"><i class="fa fa-envelope"></i> {{ contact.email }}</p>

                        {% endif %}
                        {% if contact.phone %}
                            <p class="text-center w-75 m-auto"><i class="fa fa-phone"></i> {{ contact.phone }}</p>

                        {% endif %}
                        {% if contact.address %}
                            <p class="text-center w-75 m-auto"><i class="fa fa-globe"></i> {{ contact.website }}</p>

                        {% endif %}
                        <br>
                    </div>
                </div>
                {% empty %}
                <h2>No Contacts</h2>
            {% endfor %}
        </div>
    </div>
</section>

</body>
</html>


<script type="text/javascript">
    $(function () {
        var selectedClass = "";
        $(".filter").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#gallery").fadeTo(100, 0.1);
            $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
            setTimeout(function () {
                $("." + selectedClass).fadeIn().addClass('animation');
                $("#gallery").fadeTo(300, 1);
            }, 300);
        });
    });
</script>

