{% load static %}
{% load staticfiles %}
{% load twitter_tags %}
{% load humanize %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style>

        #map {
            width: 100%;
            height: 100%;
        }

        .legend {
            background: white;
            padding: 0px;
        }

        .info {
            background: white;
            padding: 0px;
            font-size:10px;
        }
        .progress{
            font-size:10px !important;
            background:white;
        }

        .dot {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
        }
        .leaflet-bottom .leaflet-control {
            margin-bottom: 0px !important;
        }
        .legend-text{
            font-size:10px !important;
            vertical-align: super;
        }
        .nnleaflet-label{
            transform: translate3d(588px, 280px, 0px) !important;
        }
    </style>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=171643386807909&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="bg-gray">
    <div class="slider-list">
        {% for slide_item in stories %}
            <div>
                <div class="slide-item">
                    {% if slide_item.use_banner %}
                        <a href="{% url 'visualizations:recent_story_detail' slide_item.id %}"><img
                                src="{{ slide_item.banner.url }}" alt=""></a>

                    {% else %}

                        <a href="{% url 'visualizations:recent_story_detail' slide_item.id %}"><img
                                src="{{ slide_item.banner.url }}" alt=""></a>

                    {% endif %}
                    <div class="slide-caption">
                        <h3><a href="{% url 'visualizations:recent_story_detail' slide_item.id %}" title=""
                               style="color:white;">{{ slide_item.title }}</a></h3>
                        <p>
                            {{ slide_item.description|truncatechars:100 }}...<a
                                href="{% url 'visualizations:recent_story_detail' slide_item.id %}" title=""
                                style="color:white;">read more</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'visualizations/navbar.html' %}

<div class="bg-white module-padding">
    <div class="container">
        <div class="stat-wrap">

            <div class="stat-body bg-gray padding-large margin-top-large">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart-wrap">
                            <h5><strong>Housing Completion</strong></h5>
                            <canvas id="housingChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart-wrap">
                            <h5><strong>Reconstruction Grants Received</strong></h5>
                            <canvas id="reconstructionGrantsReceivedChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="graph-text-info margin-top-large">
                            <div class="percent-count">{{ total_women_percentage }}%</div>
                            Female headed HHs
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="bg-gray module-padding">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="inputDistrict">District Selected</label>
                        <select class="form-control" id="inputDistrict">
                            <option value="Total-form" id="total">All</option>
                            <option value="Gorkha-form" id="gorkha">Gorkha</option>
                            <option value="Nuwakot-form" id="nuwakot">Nuwakot</option>
                        </select>
                    </div>
                    <div id="gorkha-palika-select" class="form-group">
                        <label>Gaunpalika Selected</label>
                        <select class="form-control inputDistrictClass" id="inputGorkhaPalika">
                            {#                                  <option id="gorkha-palika"> All </option>#}
                            {% for data in gorkha_data %}
                                <option value="GoPa_{{ forloop.counter0 }}-form"
                                        id="{{ data.0|lower }}_m">{{ data.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="nuwakot-palika-select" class="form-group">
                        <label>Gaunpalika Selected</label>
                        <select class="form-control inputDistrictClass" id="inputNuwaPalika">
                            {% for data in nuwa_data %}
                                <option value="NuPa_{{ forloop.counter0 }}-form"
                                        id="{{ data.0|lower }}_m">{{ data.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-7">
                <div id="map"></div>
            </div>
            <div id="Total-form" class="col-md-5 details">
                <div class="map-popup">
                    <div class="pop-head">
                        Total ({{ all_data.total_housess }} Houses)
                    </div>
                    <div class="pop-body">
                        <div class="pop-info-item">
                            Houses Completed
                            <div class="count">{{ all_data.total_houses_completed }}
                                ({{ all_data.total_houses_completed_percentage|floatformat:"0" }}%)
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_houses_stage_i }}
                                        ({{ all_data.ths1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Foundation and Plinth
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_houses_stage_ii }}
                                        ({{ all_data.ths2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Walls and Lintel
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_houses_stage_iii }}
                                        ({{ all_data.ths3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Roof and completion
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_received_tranche_i }}
                                        ({{ all_data.trt1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_received_tranche_ii }}
                                        ({{ all_data.trt2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.total_received_tranche_iii }}
                                        ({{ all_data.trt3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - III
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                           
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">{{ total_women_percentage }}%</div>
                                    Female headed HHs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Gorkha-form1" class="col-md-5 details">
                <div class="map-popup">
                    <div class="pop-head">
                        Gorkha District ({{ all_data.gorkha_total_houses }} Houses)
                    </div>
                    <div class="pop-body">
                        <div class="pop-info-item">
                            Houses Completed
                            <div class="count">{{ all_data.gorkha_total_houses_completed }}
                                ({{ all_data.gorkha_houses_completed_percentage|floatformat:"0" }}%)
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_houses_stage_i }}
                                        ({{ all_data.gorkha_ths1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_houses_stage_ii }}
                                        ({{ all_data.gorkha_ths2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_houses_stage_iii }}
                                        ({{ all_data.gorkha_ths3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - III
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_received_tranche_i }}
                                        ({{ all_data.gorkha_trt1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_received_tranche_ii }}
                                        ({{ all_data.gorkha_trt2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.gorkha_total_received_tranche_iii }}
                                        ({{ all_data.gorkha_trt3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - III
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">60%</div>
                                    Rural
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">{{ gorkha_women_percentage }}%</div>
                                    Women
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nuwakot-form1" class="col-md-5 details">
                <div class="map-popup">
                    <div class="pop-head">
                        Nuwakot District ({{ all_data.nuwakot_total_houses }} Houses)
                    </div>
                    <div class="pop-body">
                        <div class="pop-info-item">
                            Houses Completed
                            <div class="count">{{ all_data.nuwakot_total_houses_completed }}
                                ({{ all_data.nuwakot_houses_completed_percentage|floatformat:"0" }}%)
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_houses_stage_i }}
                                        ({{ all_data.nuwakot_ths1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_houses_stage_ii }}
                                        ({{ all_data.nuwakot_ths2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_houses_stage_iii }}
                                        ({{ all_data.nuwakot_ths3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - III
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_received_tranche_i }}
                                        ({{ all_data.nuwakot_trt1_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_received_tranche_ii }}
                                        ({{ all_data.nuwakot_trt2_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ all_data.nuwakot_total_received_tranche_iii }}
                                        ({{ all_data.nuwakot_trt3_percentage|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - III
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">60%</div>
                                    Rural
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">{{ nuwakot_women_percentage|floatformat:"0" }}%</div>
                                    Women
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{% for data in data_values_gorkha %}
            <div id="GoPa_{{ forloop.counter0 }}-form" class="col-md-5 details">
                <div class="map-popup">
                    <div class="pop-head">
                        {{ data.gaunpalika }} ({{ data.total_houses }} Houses)
                    </div>
                    <div class="pop-body">
                        <div class="pop-info-item">
                            Houses Completed
                            <div class="count">{{ data.houses_completed }} ({{ data.thcp|floatformat:"0" }}%)</div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.houses_in_stage_i }} ({{ data.s1p|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.houses_in_stage_ii }} ({{ data.s2p|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.houses_in_stage_iii }}
                                        ({{ data.s3p|floatformat:"0" }}%)
                                    </div>
                                    Houses in Stage - III
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.received_tranche_i }} ({{ data.t1p|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - I
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.received_tranche_ii }}
                                        ({{ data.t2p|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - II
                                </div>
                                <div class="pop-info-item bg-light">
                                    <div class="count">{{ data.received_tranche_iii }}
                                        ({{ data.t3p|floatformat:"0" }}%)
                                    </div>
                                    Received Tranche - III
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">60%</div>
                                    Rural
                                </div>
                            </div>
                            <div class="col">
                                <div class="pop-info-item">
                                    <div class="count">{{ data.women_percentage|floatformat:"0" }}%</div>
                                    Women
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{% endfor %}
            {% for data in data_values_nuwakot %}
                <div id="NuPa_{{ forloop.counter0 }}-form" class="col-md-5 details">
                    <div class="map-popup">
                        <div class="pop-head">
                            {{ data.gaunpalika }} ({{ data.total_houses }} Houses)
                        </div>
                        <div class="pop-body">
                            <div class="pop-info-item">
                                <b>Houses Completed</b>
                                <div class="count">{{ data.houses_completed }} ({{ data.thcp|floatformat:"0" }}%)</div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.houses_in_stage_i }} ({{ data.s1p|floatformat:"0" }}%)</div>
                                        Houses in Stage - I
                                    </div>
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.houses_in_stage_ii }} ({{ data.s2p|floatformat:"0" }}%)</div>
                                        Houses in Stage - II
                                    </div>
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.houses_in_stage_iii }}
                                            ({{ data.s3p|floatformat:"0" }}%)
                                        </div>
                                        Houses in Stage - III
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.received_tranche_i }} ({{ data.t1p|floatformat:"0" }}%)</div>
                                        Received Tranche - I
                                    </div>
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.received_tranche_ii }}
                                            ({{ data.t2p|floatformat:"0" }}%)
                                        </div>
                                        Received Tranche - II
                                    </div>
                                    <div class="pop-info-item bg-light">
                                        <div class="count">{{ data.received_tranche_iii }}
                                            ({{ data.t3p|floatformat:"0" }}%)
                                        </div>
                                        Received Tranche - III
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="pop-info-item">
                                        <div class="count">60%</div>
                                        Rural
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="pop-info-item">
                                        <div class="count">{{ data.women_percentage|floatformat:"0" }}%</div>
                                        Women
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
</div>
<div class="bg-gray module-padding">
    <div class="container">
        <div class="module-story">
            <div class="story-header">
                <h5>Stories From The Field</h5>
                <a href="{% url 'visualizations:recent_stories' %}" title="">View All</a>
            </div>
            <div class="story-section padding-top">
                <div class="story-list">{% for story in recent_story %}
                    <div>
                        <div class="story-item story" style="height: 230px;">
                            <img src="{{ story.thumbnail.url }}" alt="" width="100" height="100">
                            <div class="user-info">
                                <h6>{{ story.title }}</h6>
                                <span>{{ story.description }}</span>
                            </div>
                            <p>
                                {{ story.content|truncatewords:15|safe }} <a href="{% url 'visualizations:recent_story_detail' story.id %}" title="">read more [+]</a>
                            </p>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white module-padding">
    <div class="container">
        <div class="row ">
                    {% for tweet in tweets %}

                            <div class="col-sm-4">
                                <div class="tweet-wrap">

                                <a href="https://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}"
                                   target="_blank">
                                    <img src="{{ tweet.user.profile_image_url }}" width="48" height="48"/>
                                    <h5>{{ tweet.user.name }}<br/></h5>
                                    <span>@{{ tweet.user.screen_name }} &middot; {{ tweet.created_at|twitter_date }}</span>
                                </a>
                                <p>{{ tweet|expand_tweet_urls|urlize_tweet_text|safe }}</p>
                            </div>
                        </div>

                    {% endfor %}

            <div class="col-md-12">
                <a class="twitter-timeline" data-height="500"
                   href="#">

                    <h4><strong>Twitter Feed #IndiaInNepalReconstruction</strong></h4></a>
                <div class="row">

                </div>

            </div>


        </div>
    </div>

</div>

<div class="bg-gray module-padding">
    <div class="container">

        <!-- project Stakeholders -->
        <h4 class="text-center partner"><strong>Donor</strong></h4>
        <div class="row autoplay margin-top">

            {% for project_stakeholder in project_stakeholders_donor %}
                <div class="col-md-3 text-center"><a href="{% url 'visualizations:partner_detail' project_stakeholder.pk %}"><img height="100" src="{{ project_stakeholder.logo.url }}"
                                                                   class="stake"></a></div>
            {% endfor %}


        </div>
        <h4 class="text-center partner"><strong>Partners</strong></h4><br>

        <div class="row autoplay margin-top">

                {% for project_stakeholder in project_stakeholders_partners %}
                    <div class="col-md-3 text-center"><a href="{% url 'visualizations:partner_detail' project_stakeholder.pk %}"><img height="100" src="{{ project_stakeholder.logo.url }}"
                                                                       class="stake"></a></div>
                {% endfor %}
    
    
            </div>
    </div>
</div>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
<script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/Chart.bundle.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>

<script>
    var district_json = "{{ district_json_path|safe }}";
    var district_nepal = "{{ district_nepal|safe }}";

    //console.log(district_json);
    var gorkha_json = "{{ gorkha_json_path }}";
    var nuwakot_json = "{{ nuwakot_json_path }}";

    var completion_status_gorkha = [];
    var completion_status_nuwakot = [];

    {% for d in data_values_gorkha %}
        completion_status_gorkha.push({'{{ d.gaunpalika.name }}': '{{ d.thcp }}'});
    {% endfor %}

    {% for d in data_values_nuwakot %}
        completion_status_nuwakot.push({'{{ d.gaunpalika.name }}': '{{ d.thcp }}'});
    {% endfor %}

    console.log(completion_status_gorkha);

    console.log("First");
    $(document).ready(function () {
        $('.details').hide();
        $('#gorkha-palika-select').hide();
        $('#nuwakot-palika-select').hide();
        $("#Total-form").show();
        //hide legend and info div
        $('.legend').css('display', 'none');
        $('.info').css('display', 'none');

        $('.story-list').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
        $('.slider-list').slick({
            draggable: true,
            autoplay: true, /* this is the new line */
            autoplaySpeed: 2000,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            touchThreshold: 1000,

        });
    });


</script>
<script>
    var ctx = document.getElementById("housingChart");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ housing_label|safe }},
            datasets: [{
                data: {{ housing_values|safe }},
                backgroundColor: [
                    '#00628e',
                    '#0181b8',
                    '#019cde',
                    '#04b4ff'
                ],
                borderColor: [
                    '#00628e',
                    '#0181b8',
                    '#019cde',
                    '#04b4ff'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                position: 'right',
                onClick: function () {

                },
                labels: {
                    fontSize: 14,
                    fontFamily: "-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'",
                    padding: 20,
                }
            }
        }
    });

    var ctx = document.getElementById("reconstructionGrantsReceivedChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ reconstruction_label|safe }},
            datasets: [{
                data: {{ reconstruction_values|safe }},
                backgroundColor: [
                    '#00628e',
                    '#0181b8',
                    '#019cde'
                ],
                borderColor: [
                    '#00628e',
                    '#0181b8',
                    '#019cde'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false,
                position: 'top',
                labels: {
                    fontSize: 14,
                    fontFamily: "-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'",
                    padding: 20,
                }
            }
        }
    });


</script>
<script>
    //hide legend

    function changeOverall(district) {
        console.log(district);
        if (district == "gorkha") {
            console.log("inside if not");
            $('.details').css('display', 'none');
            $("#nuwakot-palika-select").css('display', 'none');
            $("#gorkha-palika-select").css('display', 'block');
            $("#Gorkha-form1").css('display', 'block');

            //show legend and info div
            $('.legend').css('display', 'block');
            $('.info').css('display', 'block');
        }
        else if (district == "nuwakot") {
            $('.details').css('display', 'none');
            $("#gorkha-palika-select").css('display', 'none');
            $("#nuwakot-palika-select").css('display', 'block');
            $("#Nuwakot-form1").css('display', 'block');

            //show legend and info div
            $('.legend').css('display', 'block');
            $('.info').css('display', 'block');


        }
        else {
            $('.details').css('display', 'none');
            $("#gorkha-palika-select").css('display', 'none');
            $("#nuwakot-palika-select").css('display', 'none');
            $("#Total-form").css('display', 'block');
            //hide legend and info div
            $('.legend').css('display', 'none');
            $('.info').css('display', 'none');
        }
    }

    $("#inputDistrict").on("change", function () {
        console.log("input district");
        console.log($("#inputDistrict option:selected")[0].id);
        var distSelected = $("#inputDistrict option:selected")[0].id;
        changeOverall(distSelected);
    });


    function gorkhaChange(selectedMun) {

        var id = $('#inputGorkhaPalika').val();

        console.log(id);

        $('.details').css('display', 'none');
        $("#" + id).css('display', 'block');

    }

    function nuwaChange(selectedMun) {
        var id = $('#inputNuwaPalika').val();
        console.log("inside palika if not");
        $('.details').css('display', 'none');
        $("#" + id).css('display', 'block');

    }

    $("#inputGorkhaPalika").on("change", function () {
        console.log("input palika");
        console.log($("#inputGorkhaPalika option:selected")[0].id);
        var selectedMun = $("#inputGorkhaPalika option:selected")[0].id;
        {#console.log("#" + $('#inputGorkhaPalika').val());#}
        gorkhaChange(selectedMun);

    });
    $("#inputNuwaPalika").on("change", function () {
        console.log("input n palika");
        var selectedMun = $("#inputNuwaPalika option:selected")[0].id;
        console.log(selectedMun);
        nuwaChange(selectedMun);

    });
</script>
<script type="text/javascript">
    $('.autoplay').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
    });
</script>

<!--map js css-->
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static 'css/leaflet.label.css' %}"/>
<link rel="stylesheet" href="{% static 'css/popuptableinmap.css' %}"/>

<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leaflet.ajax.min.js' %}"></script>
<!--<script type="text/javascript" src="./js/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'js/leaflet.label.js' %}"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<!--map js end-->
<script>
    $.get("http://dfid.naxa.com.np/core/layer-data/", function (data) {
        console.log(data);
    });
</script>
</body>
</html>
