{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<!-- details card section starts from here -->
{% include 'visualizations/navbar.html' %}

<section class="details-card">
     <h2 class="title text-center margin-top-large">Materials</h2>
    <br/>
    <div class="container">
        <div class="row">
            {% for material in materials %}

            <div class="col-md-2">
                <div class="card-content">

                        <img src="{% static 'assets/img/pdf.png' %}" alt="" class="mx-auto d-block mate">
                       <!--  <span><h4>heading</h4></span> -->

                    <div class="card-desc materialcard">
                        <h6>{{ material.title }}</h6>
                        <p><span class="dates"> Date: {{ material.created|date:"d M Y" }}</span> <a href="{{ material.document.url }}"><i class="fa fa-download"></i> Download</a> </p>
                    </div>
                </div>
            </div>
                {% empty %}
                <p>No Materials.</p>
                        {% endfor %}

        </div>
    </div>
</section>
<!-- details card section starts from here -->
<script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

</body>
</html>



