{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<!-- details card section starts from here -->
{% include 'visualizations/navbar.html' %}

<section class="details-card">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="card-content eve stakep">
                    <div class="text-center part-logo">
                        {% if project_stakeholder.logo %}
                            <img src="{{ project_stakeholder.logo.url }}" class="contact_img">
                            <br/><br>
                        {% endif %}
                        {% if project_stakeholder.name %}
                            <h3>{{ project_stakeholder.name }}</h3>
                            </div>

                        {% endif %}
                    {% if project_stakeholder.role %}
                        <div class="partdes text-center">
                            <h6>{{ project_stakeholder.role }}</h6>

                        </div>

                    {% endif %}
                    {% if project_stakeholder.description %}
                        <p class="partdes">{{ project_stakeholder.description|safe }}</p>

                    {% endif %}
                    {% if project_stakeholder.project_stakeholders.address %}
                        <p class="text-center w-75 m-auto">{{ project_stakeholder.project_stakeholders.address }}</p>

                    {% endif %}
                    {% if project_stakeholder.project_stakeholders.email %}
                        <p class="text-center w-75 m-auto"><i
                                class="fa fa-envelope"></i> {{ project_stakeholder.project_stakeholders.email }}</p>

                    {% endif %}
                    {% if project_stakeholder.project_stakeholders.phone %}
                        <p class="text-center w-75 m-auto"><i
                                class="fa fa-phone"></i> {{ project_stakeholder.project_stakeholders.phone }}</p>

                    {% endif %}
                    {% if project_stakeholder.project_stakeholders.website %}
                        <p class="text-center w-75 m-auto"><i class="fa fa-globe"></i> <a
                                href="{{ project_stakeholder.project_stakeholders.website }}"> visit website</a></p>

                    {% endif %}
                    <br>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- details card section starts from here -->
<script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

</body>
</html>




