{% load static %}
{% load staticfiles %}
{% load twitter_tags %}
{% load humanize %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style>

        #map {
            width: 100%;
            height: 100%;
        }
        .legend{
            background: white;
            padding: 5px;
        }
        .info{
            background: white;
            padding:5px;
        }
    </style>
</head>
<div class="sub-nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:about' %}">About</a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:media' %}">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:materials' %}">Materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:event' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:training' %}">Training</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Partners
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for partner in partners %}
                          <a class="dropdown-item" href="{% url 'visualizations:partner_detail' partner.pk %}">{{ partner.name }}</a>

                      {% endfor %}


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizations:contact' %}">Contact</a>
                </li>

            </ul>


        </div>
    </nav>
</div><body class="bg-gray ">
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="bg-gray module-padding">
    <div class="container">
        <div class="module-story">
            <div class="story-header">
                <h5>Stories</h5>
            </div>
            <div class="story-section padding-top">
                <div class="row">
                    {% for story in object_list %}
                    <div class="col-md-4">
                        <div class="story-item">
                            <img src="{{story.thumbnail.url}}" alt="" width="100" height="100">
                            <div class="user-info">
                                <h6>{{ story.title }}</h6>
                                <span>{{ story.description }}</span>
                            </div>
                            <p>
                                {{ story.content|truncatechars:200 | safe}} <a href="{% url 'visualizations:recent_story_detail' story.id %}" title="">read more [+]</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
<script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
</body>
</html>
