{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
{% include 'visualizations/navbar.html' %}

<!-- details card section starts from here -->
<section class="details-card">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content">
                    <div class="card-img">
                        {% if training.image %}
                            <img src="{{ training.image.url }}" alt="" class="event-img">

                        {% endif %}
                       <!--  <span><h4>heading</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3>{{ training.title }}</h3>
                        <p>{{ training.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->
</body>
</html>



