/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 25px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 25px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
    max-width: 350px;
    max-height: 211.83px;
    min-width: 350px;
    min-height: 211.83px;
    padding: 10px;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */

/*about page*/
#about .about-container .background {
    min-height: 300px;
    background: url(https://t3.ftcdn.net/jpg/00/73/95/18/240_F_73951856_f7rCNBUG6QDLdMIjRYm7qNCFDHKDNkwt.jpg) center top no-repeat;
    margin-bottom: 10px;
}

/**/

img.contact_img {
    height: 100px;
    padding-top: 20px;
    max-height: 100px;
}


/*media*/
button.btn.btn-outline-black.waves-effect.filter {
    margin-left: 15px;
    margin-top: 50px;
}

img.img-fluid.media {
   
    min-width: 340px;
    max-height: 226.66px;
    max-width: 340px;
    min-height: 226.66px;
    margin-bottom: 10px;
}

button.btn.btn-outline-black.waves-effect.filter.active {
    background-color: #00628e;
    color: #fff;
}
button.btn.btn-outline-black.waves-effect.filter:active {
    background-color: #00628e;
    color: #fff;
}
button.btn.btn-outline-black.waves-effect.filter:hover {
    background-color: #00628e;
    color: #fff;
}
button.btn.btn-outline-black.waves-effect.filter:focus {
    background-color: #00628e;
    color: #fff;
}

iframe.video{
    height: 230px;
    width: 350px;
    max-height:230px;
    max-width: 350px; 
}

p.media-dsc {
    font-size: 10px;
    float: right;
    color: gray;
    margin-right: 10px;
}

video.media-vdo {
        min-width: 340px;
    max-height: 255px;
    max-width: 340px;
    min-height: 226.66px;
    margin-bottom: 10px;
    height: 255px;
    margin-top: -30px;
}

audio.media-audio {
    margin-top: -65px;
    position: absolute;
    max-width: 340px;
    min-width: auto;
}

/*media*/
ul#pills-tab{
    margin-left: 400px;
    margin-top: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00628e;
}

.bg-gray{
    background-color: #ecf0f1;
}

img.event-img {
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}

/*materials*/
img.mate {
    max-height: 150px;
}

span.dates {
    float: right;
    font-size: 12px;
}

.card-desc.materialcard {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

img.part {
    height: 165px;
    padding: 18px;
}

.part-desc.pull-right {
    padding-bottom: 10px;
}

p.partdes {
    padding: 15px;
    text-align: justify;
}

p.time {
    font-size: 12px;
    }

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 98, 142) !important;
}