{% load static %}
{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <style>

            #map{
                width:100%;
                height:100%;
              </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=171643386807909&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="bg-gray">
            <div class="slider-list">
                    <div>
                        <div class="slide-item">
                            <img src="{% static 'assets/img/img-slide1.jpg' %}" alt="">
                            <div class="slide-caption">
                                <h5>Forests for life</h5>
                                <p>
                                This June, we celebrate forests, an integral part of all lives on planet. In 2018, we reflect on 12 milestones that helped bend the curve in Nepal's conservation landscapes – a possible by people, for the planet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide-item">
                            <img src="{% static 'assets/img/img-slide2.jpg' %}" alt="">
                            <div class="slide-caption">
                                <h5>Implementing Partners</h5>
                                <p>
                                The program brings together the expertise and experience of international and national NGOs in the fields of biodiversity conservation, climate change, community livelihoods, governance, and gender and social inclusion. A consortium of four non-governmental organizations is implementing the Hariyo Ban Program with WWF serving as the managing partner.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


        <div class="bg-white module-padding">
            <div class="container">
                <div class="stat-wrap">
                    <div class="stat-head">
                        <h4><strong>Government of India Support to Nepal Housing Reconstruction Program</strong></h4>
                        <div class="progress-label">&#8377; 23,589,341 Disbursed</div>
                        <div class="progress" style="height: 20px;">
                          <div class="progress-bar bg-primary-gradient" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="stat-body bg-gray padding-large margin-top-large">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chart-wrap">
                                    <h5><strong>Housing Completion</strong></h5>
                                    <canvas id="housingChart"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="chart-wrap">
                                    <h5><strong>Reconstruction Grants Received</strong></h5>
                                    <canvas id="reconstructionGrantsReceivedChart"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="graph-text-info margin-top-large">
                                    <div class="percent-count">50%</div>
                                    Women
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="graph-text-info margin-top-large">
                                    <div class="percent-count">73%</div>
                                    Rural
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray module-padding">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="inputDistrict">District Selected</label>
                                <select class="form-control" id="inputDistrict">
                                  <option id="all">All</option>
                                  <option value="Gorkha-form" id = "gorkha">Gorkha</option>
                                  <option value="Nuwakot-form" id = "nuwakot">Nuwakot</option>
                                </select>
                              </div>
                            <div id = "gorkha-palika-select" class="form-group">
                                <label>Gaunpalika Selected</label>
                                <select class="form-control inputDistrictClass" id="inputGorkhaPalika">
{#                                  <option id="gorkha-palika"> All </option>#}
                                  <option value="bhimsen-form" id = "aarughat">Aarughat</option>
                                  <option value="bhimsen-form" id = "ajirkot">Ajirkot</option>
                                  <option value="bhimsen-form" id = "bhimsen">Bhimsen</option>
                                  <option value="bhimsen-form" id = "chum nubri">Chum Nubri</option>
                                  <option value="bhimsen-form" id = "dharche">Dharche</option>
                                  <option value="bhimsen-form" id = "gandaki">Gandaki</option>
                                  <option value="bhimsen-form" id = "gorkha">Gorkha</option>
                                  <option value="bhimsen-form" id = "palungtar">Palungtar</option>
                                  <option value="bhimsen-form" id = "sahid lakhan">Sahid Lakhan</option>
                                  <option value="bhimsen-form" id = "siranchok">Siranchok</option>
                                  <option value="bhimsen-form" id = "sulikot">Sulikot</option>
                                </select>
                            </div>
                            <div id = "nuwakot-palika-select" class="form-group">
                                <label>Gaunpalika Selected</label>
                                <select class="form-control inputDistrictClass" id="inputNuwaPalika">
                                  <option value="tarkeshwor-form" id = "tarkeshwar">Tarkeshwor</option>
                                  <option value="belkotgadhi-form" id = "belkotgadhi">Belko</option>
                                  <option value="bidur-form" id = "bidur">Bidur</option>
                                  <option value="dupcheshwar-form" id = "dupcheshwar">Dupcheshwar</option>
                                  <option value="kakani-form" id = "kakani">Kakani</option>
                                  <option value="kispang-form" id = "kispang">Kispang</option>
                                  <option value="likhu-form" id = "likhu">Likhu</option>
                                  <option value="meghang-form" id = "meghang">Meghang</option>
                                  <option value="panchakanya-form" id = "panchakanya">Panchakanya</option>
                                  <option value="shivapuri-form" id = "shivapuri">Shivapuri</option>
                                  <option value="suryagadhi-form" id = "suryagadhi">Suryagadhi</option>
                                  <option value="tadi-form" id = "tadi">Tadi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-7">
                        <div id="map"></div>
                    </div>
                    <div id="Gorkha-form" class="col-md-5">
                        <div class="map-popup">
                            <div class="pop-head">
                                Gorkha District
                            </div>
                            <div class="pop-body">
                                <div class="pop-info-item">
                                    <div class="count">265</div>
                                    Houses Completed
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_houses_stage_i.hs1}}</div>
                                            Houses in Stage - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_houses_stage_ii.hs2}}</div>
                                            Houses in Stage - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_houses_stage_iii.hs3}}</div>
                                            Houses in Stage - III
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_received_tranche_i.rt1}}</div>
                                            Received Tranche - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_received_tranche_ii.rt2}}</div>
                                            Received Tranche - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{gorkha_total_received_tranche_iii.rt3}}</div>
                                            Received Tranche - III
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">60%</div>
                                            Rural
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">55%</div>
                                            Women
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Nuwakot-form" class="col-md-5">
                        <div class="map-popup">
                            <div class="pop-head">
                                Nuwakot District
                            </div>
                            <div class="pop-body">
                                <div class="pop-info-item">
                                    <div class="count">265</div>
                                    Houses Completed
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_i.hs1}}</div>
                                            Houses in Stage - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_ii.hs2}}</div>
                                            Houses in Stage - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_iii.hs3}}</div>
                                            Houses in Stage - III
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_i.rt1}}</div>
                                            Received Tranche - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_ii.rt2}}</div>
                                            Received Tranche - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_iii.rt3}}</div>
                                            Received Tranche - III
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">60%</div>
                                            Rural
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">55%</div>
                                            Women
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="bhimsen-form" class="col-md-5">
                        <div class="map-popup">
                            <div class="pop-head">
                                Gorkha Bhimsen Palika
                            </div>
                            <div class="pop-body">
                                <div class="pop-info-item">
                                    <div class="count">265</div>
                                    Houses Completed
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_i.hs1}}</div>
                                            Houses in Stage - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_ii.hs2}}</div>
                                            Houses in Stage - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_iii.hs3}}</div>
                                            Houses in Stage - III
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_i.rt1}}</div>
                                            Received Tranche - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_ii.rt2}}</div>
                                            Received Tranche - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_iii.rt3}}</div>
                                            Received Tranche - III
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">60%</div>
                                            Rural
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">55%</div>
                                            Women
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tarkeshwor-form" class="col-md-5">
                        <div class="map-popup">
                            <div class="pop-head">
                                Tarkershwor Nuwakot Palika
                            </div>
                            <div class="pop-body">
                                <div class="pop-info-item">
                                    <div class="count">265</div>
                                    Houses Completed
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_i.hs1}}</div>
                                            Houses in Stage - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_ii.hs2}}</div>
                                            Houses in Stage - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_houses_stage_iii.hs3}}</div>
                                            Houses in Stage - III
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_i.rt1}}</div>
                                            Received Tranche - I
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_ii.rt2}}</div>
                                            Received Tranche - II
                                        </div>
                                        <div class="pop-info-item bg-light">
                                            <div class="count">{{nuwakot_total_received_tranche_iii.rt3}}</div>
                                            Received Tranche - III
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">60%</div>
                                            Rural
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pop-info-item">
                                            <div class="count">55%</div>
                                            Women
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray module-padding">
            <div class="container">
                <div class="module-story">
                    <div class="story-header">
                        <h5>Stories</h5>
                        <a href="#" title="">View All</a>
                    </div>
                    <div class="story-section padding-top">
                        <div class="story-list">
                            <div>
                                <div class="story-item">
                                    <img src="{% static 'assets/img/img-avatar.jpg' %}" alt="">
                                    <div class="user-info">
                                        <h6>Bikrant Giri</h6>
                                        <span>Nagpokhari, Kathmandu, Nepal</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <a href="#" title="">read more [+]</a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="story-item">
                                    <img src="{% static 'assets/img/img-avatar.jpg' %}" alt="">
                                    <div class="user-info">
                                        <h6>Bikrant Giri</h6>
                                        <span>Nagpokhari, Kathmandu, Nepal</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="story-item">
                                    <img src="{% static 'assets/img/img-avatar.jpg' %}" alt="">
                                    <div class="user-info">
                                        <h6>Bikrant Giri</h6>
                                        <span>Nagpokhari, Kathmandu, Nepal</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="story-item">
                                    <img src="{% static 'assets/img/img-avatar.jpg' %}" alt="">
                                    <div class="user-info">
                                        <h6>Bikrant Giri</h6>
                                        <span>Nagpokhari, Kathmandu, Nepal</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="story-item">
                                    <img src="{% static 'assets/img/img-avatar.jpg' %}" alt="">
                                    <div class="user-info">
                                        <h6>Bikrant Giri</h6>
                                        <span>Nagpokhari, Kathmandu, Nepal</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white module-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="social-wrap">
                            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <a class="twitter-timeline" data-height="500" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>


        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
        <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
		<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/Chart.bundle.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>

        <script>
            var district_json = "{{ district_json_path }}";
            var gorkha_json = "{{ gorkha_json_path }}";
            var nuwakot_json = "{{ nuwakot_json_path }}";
        	$(document).ready(function(){
                $('.col-md-5').hide();
                $('#gorkha-palika-select').hide();
                $('#nuwakot-palika-select').hide();
                $("#Gorkha-form").show();
                $('.story-list').slick({
                  dots: true,
                  infinite: false,
                  speed: 300,
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                      }
                    },
                    {
                      breakpoint: 600,
                      settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                  ]
                });
                $('.slider-list').slick({
                  dots: false,
                  infinite: false,
                  speed: 300

                });
        	});


        </script>
		<script>
            var ctx = document.getElementById("housingChart");
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Houses Completed", "Houses in Stage - I", "Houses in Stage - II", "Houses in Stage - III"],
                    datasets: [{
                        data: [12, 19, 3, 5],
                        backgroundColor: [
                            '#00628e',
                            '#0181b8',
                            '#019cde',
                            '#04b4ff'
                        ],
                        borderColor: [
                            '#00628e',
                            '#0181b8',
                            '#019cde',
                            '#04b4ff'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'right',
                        labels:{
                            fontSize: 14,
                            fontFamily: "-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'",
                            padding: 20,
                        }
                    }
                }
            });

            var ctx = document.getElementById("reconstructionGrantsReceivedChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Tranche - I", "Tranche - II", "Tranche - III"],
                    datasets: [{
                        data: [50, 3, 5],
                        backgroundColor: [
                            '#00628e',
                            '#0181b8',
                            '#019cde'
                        ],
                        borderColor: [
                            '#00628e',
                            '#0181b8',
                            '#019cde'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false,
                        position: 'top',
                        labels:{
                            fontSize: 14,
                            fontFamily: "-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'",
                            padding: 20,
                        }
                    }
                }
            });
        </script>
        <script>
            $("#inputDistrict").on("change", function(){
                console.log("input district");
                console.log($("#inputDistrict option:selected")[0].id);
                if ($("#inputDistrict option:selected")[0].id == "gorkha"){
                    console.log("inside if not");
                    $('.col-md-5').hide();
                    $("#nuwakot-palika-select").hide();
                    $("#gorkha-palika-select").show();
                    $("#" + $(this).val()).show();
                }
                else if ($("#inputDistrict option:selected")[0].id == "nuwakot"){
                        $('.col-md-5').hide();
                        $("#gorkha-palika-select").hide();
                        $("#nuwakot-palika-select").show();
                        $("#" + $(this).val()).show();
                }
                else {
                    $('.col-md-5').hide();
                    $("#gorkha-palika-select").hide();
                    $("#nuwakot-palika-select").hide();
                    $("#Gorkha-form").show();
                }
            });
            $("#inputGorkhaPalika").on("change", function(){
                console.log("input palika");
                console.log($("#inputGorkhaPalika option:selected")[0].id);
                if ($("#inputGorkhaPalika option:selected")[0].id == "bhimsen"){
                    console.log("inside palika if not");
                    $('.col-md-5').hide();
                    $("#" + $(this).val()).show();
                }
            });
            $("#inputNuwaPalika").on("change", function(){
                console.log("input palika");
                console.log($("#inputNuwaPalika option:selected")[0].id);
                if ($("#inputNuwaPalika option:selected")[0].id == "tarkeshwor"){
                    console.log("inside palika if not");
                    $('.col-md-5').hide();
                    $("#" + $(this).val()).show();
                }
            });
        </script>
<!--map js css-->
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>

<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
<!--<script type="text/javascript" src="./js/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'js/leaflet.label.js' %}"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<!--map js end-->
    </body>
</html>